@import "../../styles/variables/_index.scss";

.emails-input {
  background-color: $tertiary-color;
  display: flex;
  height: $emails-input-height;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
}
