@import "../../styles/variables/_index.scss";

.input-field {
  height: 2rem;
  font-family: inherit;
  padding: 1rem;
  background-color: transparent;
}

.input-field__container {
  position: relative;
  margin: 0.4rem;

  &.input-field--is-valid {
    border-radius: 100px;
    background: $accented-valid-color;
  }

  &.input-field--has-error {
    border-bottom: 1px dashed $accented-error-color;
  }

  & .icon {
    right: 0.4rem;
    position: relative;
    cursor: pointer;
  }
}
