<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div class="emails-input__container">
  <h1>Share Board name with others</h1>
  <div id="emails-input"></div>
</div>
<div class="emails-input__buttons">
  <button id="add-email" class="button">Add email</button>
  <button id="count-emails" class="button">Get emails count</button>
</div>
