/* Colors */
$primary-color: #6699ff;
$secondary-color: #f8f8f7;
$tertiary-color: #fff;

$accented-color: #4262ff;
$accented-error-color: #d92929;
$accented-valid-color: rgba($primary-color, 0.2);

/* Typography */
$primary-font-family: "Open Sans", sans-serif;
$base-font-size: 14px;

/* Components */

$emails-input-height: 20rem;
