@import "./styles/resets/index.scss";
@import "./styles/variables/index";
@import "./styles/components/button.scss";

html,
button {
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: $base-font-size;
}

html {
  background-color: white;
}

.emails-input__container {
  background-color: $secondary-color;
  padding: 5rem;
}

.emails-input__buttons {
  padding: 2rem 5rem;
}
